.drawing-page {
    display: flex;
    margin: auto;
    width: 475px;
}

.drawing-canvas {
    border: 1px solid black;
}

.upload-settings {
    position: relative;
}

.brush-options {
    margin: 5px;   
}

.brush-label {
    width: 70px;
}

.brush {
    height: 15px;
    width: 60px;
    margin: 7px;
}

.color {
    width: 25px;
    height: 25px;
    margin: 7px;
}

.black {
    background-color: black;
}

.red {
    background-color: #FF0000;
}

.orange {
    background-color: #FFA500;
}

.yellow {
    background-color: #FFFF00;
}

.green {
    background-color: #00FF00;
}

.aquamarine {
    background-color: #7FFFD4;
}

.blue {
    background-color: #0000FF;
}

.indigo {
    background-color: #4B0082;
}

.purple {
    background-color: #A020F0;
}

canvas {
    border: 1px solid darkgray;
}