.drawing-page {
    margin: auto;
    display: flex;
}

.drawing-canvas {
    border: 1px solid black;
    margin: auto;
    display: block;
    width: 400px;
}

.colors {
    margin-right: 0px;
    width: 200px;
}

.color-black {
    background-color: black;
    width: 25px;
    height: 25px;
    margin: 5px;
}

.color-blue {
    background-color: #0000FF;
    width: 25px;
    height: 25px;
    margin: 5px;
}

.color-green {
    background-color: #00FF00;
    width: 25px;
    height: 25px;
    margin: 5px;
}

.color-red {
    background-color: #FF0000;
    width: 25px;
    height: 25px;
    margin: 5px;
}

canvas {
    border: 1px solid darkgray;
}