h3 {
    margin-bottom: 0px;
}

.drawing-page {
    padding-bottom: 15px;
}

.main-canvas {
    display: flex;
    margin: auto;
    padding: 10px;
    width: 540px;
}

.drawing-canvas {
    background-color: rgb(255, 233, 106);
    border-radius: 7px;
    padding: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.brush-options {
    background-color: rgb(255, 233, 106);
    border-radius: 7px;
    height: 75px;
    padding: 5px;
    margin: 5px;   
}

.brush-label {
    width: 70px;
}

.brush {
    height: 15px;
    width: 60px;
    margin: 7px;
}

.tools {
    background-color: rgb(255, 233, 106);
    border-radius: 7px;
    width: 115px;
    height: 30px;
    padding: 5px;
    margin: auto;
    margin-bottom: 10px;
}

.tb {
    margin: 4px;
}

.upload-settings {
    background-color: rgb(255, 233, 106);
    border-radius: 7px;
    width: 200px;
    height: 100px;
    margin: auto;
    padding: 10px;
    position: relative;
}

.ups {
    margin: 5px;
}

.colors {
    background-color: rgb(255, 233, 106);
    border-radius: 7px;
    height: 310px;
    padding: 5px;
    margin: 5px;
}

.color {
    width: 25px;
    height: 25px;
    margin: 7px;
    border: 1px solid black;
}

.black {
    background-color: black;
}

.red {
    background-color: #FF0000;
}

.orange {
    background-color: #FFA500;
}

.yellow {
    background-color: #FFFF00;
}

.green {
    background-color: #00FF00;
}

.aquamarine {
    background-color: #7FFFD4;
}

.blue {
    background-color: #0000FF;
}

.indigo {
    background-color: #4B0082;
}

.purple {
    background-color: #A020F0;
}

canvas {
    border: 1px solid black;
}