.upload-content {
    display: grid;
    grid-template-columns: auto minmax(1, 1fr);
}

.content {
    padding: 10px;
    margin: 5px;
}

.author {

    font-weight: bold;
}

/* Testing out changing the column size with respec to window size */
@media (max-width: 960px) {
    .upload-content {
        grid-template-columns: auto minmax(0, 1fr);
    }
}

.content-image {
    border: 1px solid black;
}